<h3>
  Hello <span class="my-name"><%= name %></span>, welcome to your Dasboard
</h3>

<p class="status-holder" id="statusHolder">
  <span id="totalProducts"
    ><i class="text-primary bi-box"></i>Total Products: <%= totalProducts
    %></span
  >
  <span
    ><i class="text-primary bi-cart-check"></i>Total Orders: <%= confirmedOrders
    %></span
  >
  <span
    ><i class="text-primary bi-person"></i>Total Users: <%= totalUsers %>
  </span>
  <span
    ><i class="text-primary bi-box"></i>Pending Orders: <%=pendingOrders
    %></span
  >
</p>
