<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      href="https://res.cloudinary.com/dirijnb2k/image/upload/sworv-logo.png"
      type="image/png"
      rel="icon"
    />

    <link rel="stylesheet" href="app.css" />
  </head>
  <body id="shopPage">
    <div id="topAnchor"></div>

    <%- include("partials/navbar") %>

    <div class="container">
      <div id="productGrid" class="product-container">
        <% for(let item of products){ %>
        <div class="custom-col">
          <div class="card card-body">
            <a
              href="/details?id=<%= item._id %>"
              class="text-decoration-none card-body img-wrapper"
              id="detailsImg"
            >
              <img
                src="<%= item.image[0] %>"
                class="card-imgs img-front"
                alt="product-image"
              />
              <img
                src="<%= item.image[1] %>"
                class="card-imgs img-back"
                alt="product-image"
              />
            </a>
            <div class="card-body text-card">
              <h5 class="card-title mb-1"><%= item.title %></h5>
              <p id="product-price" class="card-text">
                ₦<%= item.price.toLocaleString() %>
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <%- include("partials/footer") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="include.js" defer></script>
    <script src="app.js" defer></script>
  </body>
</html>
